Repository alekseybilous/kanban-board: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Test simple lint-staged setup
  apps/web/src/app/page.tsx
Due: eslint --fix, prettier --write

test: add commitlint test file
  test-commitlint.txt
Due: none

feat(config): update test file with new content
  test-commitlint.txt
Due: none

feat: add commit convention linter
  .husky/commit-msg
  commitlint.config.js
  docs/COMMIT_CONVENTIONS.md
  package-lock.json
  package.json
  test-commitlint.txt
Due: eslint --fix, prettier --write

feat(web): add base layout for the web application
  apps/web/src/app/global.css
  apps/web/src/app/layout.module.css
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/AppSidebar/AppSidebar.tsx
  apps/web/src/components/AppSidebar/appSidebar.module.css
  apps/web/src/components/AppSidebar/index.ts
  apps/web/src/components/Header/Header.tsx
  apps/web/src/components/Header/header.module.css
  apps/web/src/components/Header/index.ts
  apps/web/src/components/icons/Logo.tsx
  apps/web/src/components/icons/index.ts
  apps/web/src/components/index.ts
Due: eslint --fix, prettier --write

fix(source): remove husky post install script
  package.json
  packages/eslint-config/package.json
Due: prettier --write

fix: remove problematic @nx/react/router-plugin for Vercel deployment
  nx.json
Due: prettier --write

fix(web): attemp to deploy
  package-lock.json
Due: prettier --write

feat(web): create themes for web application
  apps/web/package.json
  apps/web/src/app/global.css
  apps/web/src/app/layout.tsx
  apps/web/src/components/AppSidebar/AppSidebar.tsx
  apps/web/src/components/AppSidebar/appSidebar.module.css
  apps/web/src/components/AppSidebar/test.svg
  apps/web/src/components/Header/header.module.css
  apps/web/src/components/ThemeSwitcher/ThemeSwitcher.tsx
  apps/web/src/components/ThemeSwitcher/index.ts
  apps/web/src/components/index.ts
  apps/web/src/providers/ThemeProvider/ThemeProvider.tsx
  apps/web/src/providers/ThemeProvider/index.ts
  apps/web/src/providers/index.ts
  apps/web/tsconfig.json
  package-lock.json
  packages/theme/package.json
  packages/theme/src/css/base.css
  packages/theme/src/css/index.css
  packages/theme/src/css/themes/blue.css
  packages/theme/src/css/themes/dark.css
  packages/theme/src/css/themes/light.css
  packages/theme/src/index.ts
  packages/theme/tsconfig.json
  packages/theme/tsconfig.lib.json
  packages/theme/vite.config.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat(web): create themes for web application
  packages/eslint-config/src/lib/node.ts
  packages/eslint-config/src/lib/react.ts
  packages/eslint-config/src/lib/shared.ts
Due: eslint --fix, prettier --write

fix(theme): fix export paths to fix web build
  packages/theme/package.json
  packages/theme/src/index.ts
  packages/theme/vite.config.ts
Due: eslint --fix, prettier --write

docs: add readme files to the projects
  README.md
  apps/web/README.md
  apps/web/src/app/layout.module.css
  packages/desing-system/README.md
  packages/eslint-config/README.md
  packages/theme/README.md
  packages/theme/src/index.ts
Due: eslint --fix, prettier --write

feat(storybook): add storybook host
  .gitignore
  nx.json
  package-lock.json
  package.json
  packages/desing-system/src/DesignSystemTestFile.mdx
  packages/storybook-host/.babelrc
  packages/storybook-host/.storybook/main.ts
  packages/storybook-host/.storybook/preview.ts
  packages/storybook-host/README.md
  packages/storybook-host/eslint.config.mjs
  packages/storybook-host/package.json
  packages/storybook-host/src/TestFile.mdx
  packages/storybook-host/src/index.ts
  packages/storybook-host/src/lib/storybook-host.module.css
  packages/storybook-host/src/lib/storybook-host.tsx
  packages/storybook-host/tsconfig.json
  packages/storybook-host/tsconfig.lib.json
  packages/storybook-host/tsconfig.storybook.json
  tsconfig.json
Due: eslint --fix, prettier --write

feat(storybook): add first component to storybook, addn themes support for storybook
  package-lock.json
  packages/desing-system/src/DesignSystemTestFile.mdx
  packages/desing-system/src/components/Button/Button.stories.tsx
  packages/desing-system/src/components/Button/Button.tsx
  packages/desing-system/src/components/Button/button.module.css
  packages/storybook-host/.storybook/main.ts
  packages/storybook-host/.storybook/preview.ts
  packages/storybook-host/.storybook/preview.tsx
  packages/storybook-host/package.json
  packages/storybook-host/tsconfig.json
  packages/storybook-host/tsconfig.lib.json
Due: eslint --fix, prettier --write

feat(storybook): run upgrade command from storybook
  packages/storybook-host/src/index.ts
  packages/storybook-host/src/lib/storybook-host.module.css
  packages/storybook-host/src/lib/storybook-host.tsx
Due: eslint --fix, prettier --write

feat(storybook): run upgrade command from storybook
  package-lock.json
  package.json
  packages/storybook-host/.storybook/main.ts
  packages/storybook-host/eslint.config.mjs
Due: eslint --fix, prettier --write

feat(storybook): add some common documentation to the storybook
  package-lock.json
  package.json
  packages/storybook-host/package.json
  packages/storybook-host/src/DesignSystem.mdx
  packages/storybook-host/src/ESLintConfig.mdx
  packages/storybook-host/src/Introduction.mdx
  packages/storybook-host/src/TestFile.mdx
  packages/storybook-host/src/Theme.mdx
Due: prettier --write

feat(theme): refactor theme package, split to the tokens, update the button component
  apps/web/src/components/Header/Header.tsx
  packages/desing-system/package.json
  packages/desing-system/src/components/Button/Button.mdx
  packages/desing-system/src/components/Button/Button.stories.tsx
  packages/desing-system/src/components/Button/Button.tsx
  packages/desing-system/src/components/Button/button.module.css
  packages/desing-system/src/index.ts
  packages/theme/src/css/base/accessibility.css
  packages/theme/src/css/base/base.css
  packages/theme/src/css/base/reset.css
  packages/theme/src/css/index.css
  packages/theme/src/css/themes/index.css
  packages/theme/src/css/tokens/animations.css
  packages/theme/src/css/tokens/borders.css
  packages/theme/src/css/tokens/colors.css
  packages/theme/src/css/tokens/index.css
  packages/theme/src/css/tokens/layout.css
  packages/theme/src/css/tokens/shadows.css
  packages/theme/src/css/tokens/spacing.css
  packages/theme/src/css/tokens/typography.css
  packages/theme/src/css/tokens/utilities.css
Due: eslint --fix, prettier --write

feat(theme): redesign theme pakcage, add docs in storybook for theme package
  packages/desing-system/src/components/Button/button.module.css
  packages/storybook-host/src/Theme.mdx
  packages/storybook-host/src/themes/animations.mdx
  packages/storybook-host/src/themes/borders.mdx
  packages/storybook-host/src/themes/colors.mdx
  packages/storybook-host/src/themes/layout.mdx
  packages/storybook-host/src/themes/overview.mdx
  packages/storybook-host/src/themes/shadows.mdx
  packages/storybook-host/src/themes/spacing.mdx
  packages/storybook-host/src/themes/typography.mdx
  packages/storybook-host/src/themes/utilities.mdx
  packages/theme/docs/layout.mdx
  packages/theme/docs/utilities.mdx
  packages/theme/src/css/themes/blue.css
  packages/theme/src/css/themes/dark.css
  packages/theme/src/css/themes/light.css
Due: prettier --write

feat(storybook): storybook improvements
  packages/desing-system/src/components/Button/Button.stories.tsx
  packages/storybook-host/src/Accessibility.mdx
  packages/storybook-host/src/BestPractices.mdx
  packages/storybook-host/src/CustomTheming.mdx
  packages/storybook-host/src/Documentation.mdx
  packages/storybook-host/src/Introduction.mdx
  packages/storybook-host/src/QuickExamples.mdx
  packages/storybook-host/src/themes/animations.mdx
  packages/storybook-host/src/themes/blue.mdx
  packages/storybook-host/src/themes/borders.mdx
  packages/storybook-host/src/themes/colors.mdx
  packages/storybook-host/src/themes/components/ThemeDocComponents.tsx
  packages/storybook-host/src/themes/components/ThemeDocStyles.css
  packages/storybook-host/src/themes/components/ThemeTemplate.tsx
  packages/storybook-host/src/themes/components/themeData.ts
  packages/storybook-host/src/themes/dark.mdx
  packages/storybook-host/src/themes/layout.mdx
  packages/storybook-host/src/themes/light.mdx
  packages/storybook-host/src/themes/overview.mdx
  packages/storybook-host/src/themes/shadows.mdx
  packages/storybook-host/src/themes/spacing.mdx
  packages/storybook-host/src/themes/typography.mdx
  packages/storybook-host/src/themes/utilities.mdx
  packages/theme/docs/layout.mdx
  packages/theme/docs/utilities.mdx
Due: eslint --fix, prettier --write

fix(web): fix css variables in the web
  apps/web/package.json
  apps/web/src/app/layout.module.css
  apps/web/src/components/AppSidebar/appSidebar.module.css
  apps/web/src/components/Header/header.module.css
  package-lock.json
Due: prettier --write

fix(web): fix css variables in the web
  apps/web/src/app/global.css
  apps/web/src/app/layout.module.css
  apps/web/src/app/page.module.css
  apps/web/src/components/AppSidebar/test.svg
Due: prettier --write

feat(web): add i18n to the web project
  apps/web/messages/de.json
  apps/web/messages/en.json
  apps/web/next.config.js
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/AppSidebar/AppSidebar.tsx
  apps/web/src/components/LocaleSwitcher/LocaleSwitcher.tsx
  apps/web/src/components/LocaleSwitcher/LocaleSwitcherSelect.tsx
  apps/web/src/components/LocaleSwitcher/index.ts
  apps/web/src/components/index.ts
  apps/web/src/i18n/config.ts
  apps/web/src/i18n/request.ts
  apps/web/src/providers/ThemeProvider/ThemeProvider.tsx
  apps/web/src/services/locale.ts
Due: eslint --fix, prettier --write

feat(storybook): add common template for the stories, create select component
  package-lock.json
  packages/desing-system/package.json
  packages/desing-system/src/components/Button/Button.mdx
  packages/desing-system/src/components/Button/Button.module.css
  packages/desing-system/src/components/Button/Button.tsx
  packages/desing-system/src/components/Button/stories/Button.mdx
  packages/desing-system/src/components/Button/stories/Button.stories.tsx
  packages/desing-system/src/components/Select/Select.mdx
  packages/desing-system/src/components/Select/Select.stories.tsx
  packages/desing-system/src/components/Select/Select.tsx
  packages/desing-system/src/components/Select/SelectContext.tsx
  packages/desing-system/src/components/Select/index.ts
  packages/desing-system/src/components/Select/select.module.css
  packages/storybook-host/src/ComponentTemplate.mdx
  packages/theme/src/css/tokens/colors.css
  packages/theme/src/css/tokens/shadows.css
Due: eslint --fix, prettier --write

feat(storybook): update stories via the common template
  packages/desing-system/src/components/Button/stories/Button.mdx
  packages/desing-system/src/components/Select/Select.mdx
  packages/desing-system/src/components/Select/Select.tsx
  packages/desing-system/src/components/Select/stories/Select.mdx
  packages/desing-system/src/components/Select/stories/Select.stories.tsx
  packages/storybook-host/src/StorybookTemplate.mdx
Due: eslint --fix, prettier --write

feat(storybook): add dropdown component
  package-lock.json
  packages/desing-system/package.json
  packages/desing-system/src/components/Dropdown/Dropdown.tsx
  packages/desing-system/src/components/Dropdown/DropdownContext.tsx
  packages/desing-system/src/components/Dropdown/dropdown.module.css
  packages/desing-system/src/components/Dropdown/index.ts
  packages/desing-system/src/components/Dropdown/stories/Dropdown.mdx
  packages/desing-system/src/components/Dropdown/stories/Dropdown.stories.tsx
  packages/desing-system/src/components/index.ts
Due: eslint --fix, prettier --write

feat(storybook): add avatar component
  package-lock.json
  packages/desing-system/package.json
  packages/desing-system/src/components/Avatar/Avatar.tsx
  packages/desing-system/src/components/Avatar/AvatarContext.tsx
  packages/desing-system/src/components/Avatar/avatar.module.css
  packages/desing-system/src/components/Avatar/index.ts
  packages/desing-system/src/components/Avatar/stories/Avatar.mdx
  packages/desing-system/src/components/Avatar/stories/Avatar.stories.tsx
  packages/desing-system/src/components/Button/stories/Button.mdx
  packages/desing-system/src/components/Button/stories/Button.stories.tsx
  packages/desing-system/src/components/Dropdown/stories/Dropdown.mdx
  packages/desing-system/src/components/Select/Select.tsx
  packages/desing-system/src/components/Select/select.module.css
  packages/desing-system/src/components/Select/stories/Select.mdx
  packages/desing-system/src/components/index.ts
Due: eslint --fix, prettier --write

feat(web): add user menu with ability swithc lang and theme
  apps/web/messages/de.json
  apps/web/messages/en.json
  apps/web/src/components/AppSidebar/AppSidebar.tsx
  apps/web/src/components/Header/Header.tsx
  apps/web/src/components/Header/header.module.css
  apps/web/src/components/LocaleSwitcher/LocaleSwitcher.tsx
  apps/web/src/components/LocaleSwitcher/LocaleSwitcherSelect.tsx
  apps/web/src/components/LocaleSwitcher/index.ts
  apps/web/src/components/ThemeSwitcher/ThemeSwitcher.tsx
  apps/web/src/components/ThemeSwitcher/index.ts
  apps/web/src/components/UserMenu/UserMenu.tsx
  apps/web/src/components/UserMenu/components/LanguageSubmenu.tsx
  apps/web/src/components/UserMenu/components/ThemeSubmenu.tsx
  apps/web/src/components/UserMenu/index.ts
  apps/web/src/components/UserMenu/userMenu.module.css
  apps/web/src/components/index.ts
  apps/web/src/constants/index.ts
  apps/web/src/constants/locales.ts
  packages/desing-system/src/components/Avatar/Avatar.tsx
  packages/desing-system/src/components/Avatar/avatar.module.css
  packages/desing-system/src/components/Button/Button.tsx
  packages/desing-system/src/components/Dropdown/Dropdown.tsx
Due: eslint --fix, prettier --write

feat(desing-system): add dialog component
  package-lock.json
  packages/desing-system/package.json
  packages/desing-system/src/components/Dialog/Dialog.tsx
  packages/desing-system/src/components/Dialog/DialogContext.tsx
  packages/desing-system/src/components/Dialog/dialog.module.css
  packages/desing-system/src/components/Dialog/index.ts
  packages/desing-system/src/components/Dialog/stories/Dialog.mdx
  packages/desing-system/src/components/Dialog/stories/Dialog.stories.tsx
  packages/desing-system/src/components/Spinner/Spinner.module.css
  packages/desing-system/src/components/index.ts
  packages/theme/src/css/themes/blue.css
  packages/theme/src/css/themes/dark.css
  packages/theme/src/css/themes/light.css
Due: eslint --fix, prettier --write

feat(web): add some new components, remove next-auth, and add auth0
  apps/web/package.json
  apps/web/src/app/(protected)/app/page.tsx
  apps/web/src/app/api/auth/[...nextauth]/route.ts
  apps/web/src/app/layout.tsx
  apps/web/src/app/loading.tsx
  apps/web/src/components/AuthConditional/AuthConditional.tsx
  apps/web/src/components/Header/Header.tsx
  apps/web/src/components/Header/components/HeaderActions/HeaderActions.tsx
  apps/web/src/components/Header/components/UserAvatar/UserAvatar.tsx
  apps/web/src/components/PageLoader/PageLoader.module.css
  apps/web/src/components/PageLoader/PageLoader.tsx
  apps/web/src/components/PageLoader/index.ts
  apps/web/src/constants/index.ts
  apps/web/src/constants/urls.ts
  apps/web/src/lib/auth.ts
  apps/web/src/middleware.ts
  apps/web/src/providers/AuthProvider/AuthProvider.tsx
  apps/web/src/providers/AuthProvider/index.ts
  apps/web/src/providers/RootProvider.tsx
  apps/web/src/types/next-auth.d.ts
  package-lock.json
  packages/desing-system/package.json
  packages/desing-system/src/components/Avatar/Avatar.tsx
  packages/desing-system/src/components/Dropdown/Dropdown.tsx
  packages/desing-system/src/components/Select/Select.tsx
  packages/desing-system/src/index.ts
Due: eslint --fix, prettier --write

feat(web): add some new components, remove next-auth, and add auth0
  apps/web/src/components/AuthConditional/AuthConditional.tsx
  apps/web/src/providers/ThemeProvider/ThemeProvider.tsx
Due: eslint --fix, prettier --write

feat(web): create modal manager
  apps/web/src/app/layout.tsx
  apps/web/src/components/Modals/ModalProvider.tsx
  apps/web/src/components/Modals/components/ConfirmDialog.tsx
  apps/web/src/components/Modals/contex.ts
  apps/web/src/components/Modals/hooks/index.ts
  apps/web/src/components/Modals/hooks/useModal.ts
  apps/web/src/components/Modals/hooks/useModalState.ts
  apps/web/src/components/Modals/index.ts
  apps/web/src/components/Modals/registry.ts
  apps/web/src/components/Modals/types.ts
  packages/desing-system/src/components/Dialog/Dialog.tsx
Due: eslint --fix, prettier --write

feat(desing-syste): fix build issue
  apps/web/src/app/global.css
  package-lock.json
  packages/desing-system/package.json
  packages/desing-system/src/components/Button/Button.tsx
  packages/desing-system/vite.config.ts
Due: eslint --fix, prettier --write

feat(desing-syste): fix build issue
  packages/desing-system/package.json
  packages/desing-system/vite.config.ts
Due: eslint --fix, prettier --write

feat(desing-syste): fix build issue
  packages/desing-system/src/components/Button/Button.tsx
  packages/desing-system/vite.config.ts
Due: eslint --fix, prettier --write

feat(web): add langing page
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.module.css
  apps/web/src/app/page.tsx
Due: eslint --fix, prettier --write

feat(web): add langing page
  apps/web/src/app/page.module.css
  apps/web/src/app/page.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  prettier --write: (any of: *.{js,jsx,ts,tsx,mjs}) or (any of: *.{json,md,mdx,css,scss,yml,yaml,html})
